<!DOCTYPE html>
<html ng-app="rosy" ng-controller="AppCtrl" ng-cloak>
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="/static/build/<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="/static/build/<%= file %>" charset="utf-8"></script><% }); %>

  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <div class="row-fluid">
          <h3 class="muted pull-left""logit()">rosy</h3>
          <h3 class="pull-right" ng-hide="user.data.id">
            <a class="btn btn-large" href="/login">Sign In</a>
            <a class="btn btn-large btn-success" href="/register">Sign Up</a>
          </h3>
          <h3 class="pull-right" ng-show="user.data.id">
            {{ user.data.email }}
          </h3>
        </div>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav" ng-hide="user.data.id">
                <li ui-route="/home" ng-class="{active:$uiRoute}">
                  <a href="#/home">
                    <i class="icon-home"></i>
                    Home
                  </a>
                </li>
                <li ui-route="/about" ng-class="{active:$uiRoute}">
                  <a href="#/about">
                    <i class="icon-info-sign"></i>
                    What is it?
                  </a>
                </li>
                <li ui-route="/try" ng-class="{active:$uiRoute}">
                  <a href="#/try">
                    <i class="icon-pencil"></i>
                    Try it!
                  </a>
                </li>
              </ul>
              <ul class="nav" ng-show="user.data.id">
                <li ui-route="/user" ng-class="{active:$uiRoute}">
                  <a href="#/user">
                    <i class="icon-user"></i>
                    Dashboard
                  </a>
                </li>
                <li ui-route="/unknown" ng-class="{active:$uiRoute}">
                  <a href="#/unknown">
                    <i class="icon-info-sign"></i>
                    Something Else?
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <ul class="social">
          </ul>

          <p>
            (c) 2013
            <a href="https://twitter.com/dpiers">Daniel Piers</a>
            and
            <a href="https://twitter.com/jimrollenhagen">Jim Rollenhagen</a>.
            <br />
            Rosy is built on
            <a href="http://www.angularjs.org">AngularJS</a>,
            <a href="http://getbootstrap.com">Bootstrap</a>, 
            <a href="http://flask.pocoo.org/">Flask</a>,
            <a href="http://golang.org/">Go</a>,
            <a href="https://www.docker.io/">Docker</a>,
            and all the other hip buzzwords.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
